---
const res = await fetch("https://www.geoivf.com/wp-json/wp/v2/posts", {
  headers: {
    "Content-Type": "application/json; charset=utf-8"
  }
});
const posts = await res.json();
---

<h1>Astro + WordPress 123🚀</h1>
{
  posts.map((post) => (
    <>
      <h2>{post.title.rendered}</h2>
      <p>{post.content.rendered}</p>
    </>
  ))
}
